<a href="https://colab.research.google.com/github/fxlzaa/Main2/blob/main/KaggleTelecom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
#Import Library Pandas
excel_file = 'telekom-100-all.xlsx'
df = pd.read_excel(excel_file)
df.head(5) #Print first five observations

  State  Account_length  ...  Customer_service_calls  Churn
0    KS             128  ...                       1  False
1    OH             107  ...                       1  False
2    NJ             137  ...                       0  False
3    OH              84  ...                       2  False
4    OK              75  ...                       3  False

[5 rows x 20 columns]

In [ ]:
df.dtypes

State                      object
Account_length              int64
Area_code                   int64
International_plan           bool
Voice_mail_plan              bool
Number_vmail_messages       int64
Total_day_minutes         float64
Total_day_calls             int64
Total_day_charge          float64
Total _eve_minutes        float64
Total_eve_calls             int64
Total_eve_charge          float64
Total_night_minutes       float64
Total_night_calls           int64
Total_night_charge        float64
Total_intl_minutes        float64
Total_intl_calls            int64
Total_intl_charge         float64
Customer_service_calls      int64
Churn                        bool
dtype: object

In [ ]:
df['Voice_mail_plan'] = df.Voice_mail_plan.astype(bool)
df['International_plan'] = df.International_plan.astype(bool)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2666 entries, 0 to 2665
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   2666 non-null   object
 1   Account length          2666 non-null   int64
 2   Area code               2666 non-null   int64
 3   International plan      2666 non-null   object
 4   Voice mail plan         2666 non-null   object
 5   Number vmail messages   2666 non-null   int64
 6   Total day minutes       2666 non-null   float64
 7   Total day calls         2666 non-null   int64
 8   Total day charge        2666 non-null   float64
 9   Total eve minutes       2666 non-null   float64
 10  Total eve calls         2666 non-null   int64
 11  Total eve charge        2666 non-null   float64
 12  Total night minutes     2666 non-null   float64
 13  Total night calls       2666 non-null   int64
 14  Total night charge      2666 non-null   float64
 15  Total intl minutes      2666 non-null   float64
 16  Total intl calls        2666 non-null   int64
 17  Total intl charge       2666 non-null   float64
 18  Customer service calls  2666 non-null   int64
 19  Churn                   2666 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 398.5+ KB

In [ ]:
df.describe()

       Account length    Area code  ...  Total intl charge  Customer service calls
count     2666.000000  2666.000000  ...        2666.000000             2666.000000
mean       100.620405   437.438860  ...           2.764490                1.562641
std         39.563974    42.521018  ...           0.752812                1.311236
min          1.000000   408.000000  ...           0.000000                0.000000
25%         73.000000   408.000000  ...           2.300000                1.000000
50%        100.000000   415.000000  ...           2.750000                1.000000
75%        127.000000   510.000000  ...           3.270000                2.000000
max        243.000000   510.000000  ...           5.400000                9.000000

[8 rows x 16 columns]

In [ ]:
df.shape

(2666, 20)

In [ ]:
df["Churn"].value_counts()

False    2278
True      388
Name: Churn, dtype: int64

In [ ]:
df.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [ ]:
result= df.pivot_table(index='State', columns='Churn', values='Total_intl_charge') 
result

Churn     False     True
State
AK     2.699796  2.796667
AL     2.727083  3.246250
AR     2.799091  2.807273
AZ     2.881000  2.715000
CA     2.525600  3.054444
CO     2.686140  2.536667
CT     2.661452  2.981667
DC     2.862653  2.884000
DE     2.785962  2.734444
FL     2.673818  2.983750
GA     2.731304  3.027500
HI     2.708600  2.836667
IA     2.633659  2.323333
ID     2.792500  3.142222
IL     2.738113  3.356000
IN     2.701613  2.684444
KS     2.880000  3.142308
KY     2.876275  2.880000
LA     2.498085  2.780000
MA     2.623704  2.868182
MD     2.900566  3.077647
ME     2.659388  2.850000
MI     2.768947  3.172500
MN     2.770725  3.052667
MO     2.759643  2.497143
MS     2.920784  2.757143
MT     2.848148  2.942857
NC     2.613158  3.084545
ND     2.616429  2.531667
NE     2.792500  3.154000
NH     2.747021  2.663333
NJ     2.920400  2.916111
NM     2.744107  3.255000
NV     2.744038  2.585000
NY     2.608235  3.094667
OH     2.783971  2.761000
OK     2.861923  2.635556
OR     2.832537  2.491818
PA     2.814865  2.915000
RI     2.635932  3.028333
SC     2.592174  2.957143
SD     2.767885  2.387500
TN     2.745208  3.078000
TX     2.810556  2.973889
UT     2.743226  2.884000
VA     2.842222  3.182000
VT     2.743231  2.726250
WA     2.570385  2.916429
WI     2.657183  2.370000
WV     2.710104  2.802000
WY     2.785147  2.970000

In [ ]:
result= df.pivot_table(index='State', columns='Churn', values='Total_intl_charge')
print (result)

Churn     False     True
State
AK     2.699796  2.796667
AL     2.727083  3.246250
AR     2.799091  2.807273
AZ     2.881000  2.715000
CA     2.525600  3.054444
CO     2.686140  2.536667
CT     2.661452  2.981667
DC     2.862653  2.884000
DE     2.785962  2.734444
FL     2.673818  2.983750
GA     2.731304  3.027500
HI     2.708600  2.836667
IA     2.633659  2.323333
ID     2.792500  3.142222
IL     2.738113  3.356000
IN     2.701613  2.684444
KS     2.880000  3.142308
KY     2.876275  2.880000
LA     2.498085  2.780000
MA     2.623704  2.868182
MD     2.900566  3.077647
ME     2.659388  2.850000
MI     2.768947  3.172500
MN     2.770725  3.052667
MO     2.759643  2.497143
MS     2.920784  2.757143
MT     2.848148  2.942857
NC     2.613158  3.084545
ND     2.616429  2.531667
NE     2.792500  3.154000
NH     2.747021  2.663333
NJ     2.920400  2.916111
NM     2.744107  3.255000
NV     2.744038  2.585000
NY     2.608235  3.094667
OH     2.783971  2.761000
OK     2.861923  2.635556
OR     2.832537  2.491818
PA     2.814865  2.915000
RI     2.635932  3.028333
SC     2.592174  2.957143
SD     2.767885  2.387500
TN     2.745208  3.078000
TX     2.810556  2.973889
UT     2.743226  2.884000
VA     2.842222  3.182000
VT     2.743231  2.726250
WA     2.570385  2.916429
WI     2.657183  2.370000
WV     2.710104  2.802000
WY     2.785147  2.970000

In [ ]:
#Sort Pandas DataFrame in an ascending order
df.sort_values(by=['Area_code','Number_vmail_messages'], inplace=True)
df.head(5)

   State  Account_length  ...  Customer_service_calls  Churn
3     OH              84  ...                       2  False
10    IA             168  ...                       1  False
18    CO              77  ...                       5   True
23    MT              54  ...                       3  False
27    LA             172  ...                       3  False

[5 rows x 20 columns]

In [ ]:
#Sort Pandas DataFrame in an descending order
df.sort_values(by=['Area_code','Number_vmail_messages'], inplace=True, ascending=False)
df.head(5)

     State  Account_length  ...  Customer_service_calls  Churn
2188    WV             137  ...                       2  False
2996    AR              63  ...                       0  False
2716    MO              64  ...                       0  False
60      MN             162  ...                       0  False
480     OH              75  ...                       0  False

[5 rows x 20 columns]