<a href="https://colab.research.google.com/github/fxlzaa/Main2/blob/main/KaggleTelecom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [83]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
#Import Library Pandas
excel_file = 'telekom-100-all.xlsx'
df = pd.read_excel(excel_file)
df.head(5) #Print first five observations

  State  Account_length  ...  Customer_service_calls  Churn
0    KS             128  ...                       1  False
1    OH             107  ...                       1  False
2    NJ             137  ...                       0  False
3    OH              84  ...                       2  False
4    OK              75  ...                       3  False

[5 rows x 20 columns]

In [84]:
df.dtypes

State                      object
Account_length              int64
Area_code                   int64
International_plan         object
Voice_mail_plan            object
Number_vmail_messages       int64
Total_day_minutes         float64
Total_day_calls             int64
Total_day_charge          float64
Total _eve_minutes        float64
Total_eve_calls             int64
Total_eve_charge          float64
Total_night_minutes       float64
Total_night_calls           int64
Total_night_charge        float64
Total_intl_minutes        float64
Total_intl_calls            int64
Total_intl_charge         float64
Customer_service_calls      int64
Churn                        bool
dtype: object

In [85]:
df['Voice_mail_plan'] = df.Voice_mail_plan.astype(bool)
df['International_plan'] = df.International_plan.astype(bool)

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account_length          3333 non-null   int64
 2   Area_code               3333 non-null   int64
 3   International_plan      3333 non-null   bool
 4   Voice_mail_plan         3333 non-null   bool
 5   Number_vmail_messages   3333 non-null   int64
 6   Total_day_minutes       3333 non-null   float64
 7   Total_day_calls         3333 non-null   int64
 8   Total_day_charge        3333 non-null   float64
 9   Total _eve_minutes      3333 non-null   float64
 10  Total_eve_calls         3333 non-null   int64
 11  Total_eve_charge        3333 non-null   float64
 12  Total_night_minutes     3333 non-null   float64
 13  Total_night_calls       3333 non-null   int64
 14  Total_night_charge      3333 non-null   float64
 15  Total_intl_minutes      3333 non-null   float64
 16  Total_intl_calls        3333 non-null   int64
 17  Total_intl_charge       3333 non-null   float64
 18  Customer_service_calls  3333 non-null   int64
 19  Churn                   3333 non-null   bool
dtypes: bool(3), float64(8), int64(8), object(1)
memory usage: 452.6+ KB

In [87]:
df.describe()

       Account_length    Area_code  ...  Total_intl_charge  Customer_service_calls
count     3333.000000  3333.000000  ...        3333.000000             3333.000000
mean       101.064806   437.182418  ...           2.764581                1.562856
std         39.822106    42.371290  ...           0.753773                1.315491
min          1.000000   408.000000  ...           0.000000                0.000000
25%         74.000000   408.000000  ...           2.300000                1.000000
50%        101.000000   415.000000  ...           2.780000                1.000000
75%        127.000000   510.000000  ...           3.270000                2.000000
max        243.000000   510.000000  ...           5.400000                9.000000

[8 rows x 16 columns]

In [88]:
df.shape

(3333, 20)

In [89]:
df["Churn"].value_counts()

False    2850
True      483
Name: Churn, dtype: int64

In [90]:
df.columns

Index(['State', 'Account_length', 'Area_code', 'International_plan',
       'Voice_mail_plan', 'Number_vmail_messages', 'Total_day_minutes',
       'Total_day_calls', 'Total_day_charge', 'Total _eve_minutes',
       'Total_eve_calls', 'Total_eve_charge', 'Total_night_minutes',
       'Total_night_calls', 'Total_night_charge', 'Total_intl_minutes',
       'Total_intl_calls', 'Total_intl_charge', 'Customer_service_calls',
       'Churn'],
      dtype='object')

In [91]:
#Area_code
result= df.pivot_table(index='State', columns='Churn', values='Area_code') 
print (result)

Churn       False       True
State
AK     440.142857  415.000000
AL     431.430556  423.375000
AR     443.318182  423.000000
AZ     430.783333  460.750000
CA     439.920000  445.888889
CO     432.666667  410.333333
CT     431.129032  421.750000
DC     438.489796  412.200000
DE     435.173077  467.777778
FL     437.654545  486.250000
GA     446.065217  437.000000
HI     428.240000  412.666667
IA     446.073171  478.333333
ID     441.890625  425.555556
IL     438.245283  432.600000
IN     440.774194  434.555556
KS     444.017544  434.769231
KY     433.568627  426.000000
LA     433.276596  438.750000
MA     430.000000  429.727273
MD     433.528302  434.470588
ME     444.448980  456.692308
MI     449.385965  417.875000
MN     436.478261  458.866667
MO     426.821429  454.714286
MS     445.294118  426.071429
MT     439.833333  426.071429
NC     434.210526  429.090909
ND     436.625000  428.500000
NE     437.250000  413.600000
NH     434.255319  421.666667
NJ     436.540000  449.611111
NM     431.785714  413.833333
NV     440.788462  434.357143
NY     435.808824  419.466667
OH     432.705882  431.200000
OK     434.903846  466.222222
OR     440.686567  422.363636
PA     438.783784  435.250000
RI     438.084746  459.000000
SC     438.108696  447.928571
SD     433.076923  473.500000
TN     433.333333  451.600000
TX     428.629630  445.500000
UT     445.935484  433.300000
VA     433.875000  431.200000
VT     441.153846  425.125000
WA     438.153846  432.857143
WI     437.014085  454.714286
WV     441.322917  471.300000
WY     434.205882  457.222222

In [92]:
#Number_vmail_messages	
result= df.pivot_table(index='State', columns='Churn', values='Number_vmail_messages') 
print (result)

Churn      False      True
State
AK      9.612245   0.000000
AL      7.569444   3.625000
AR      8.340909   2.636364
AZ     10.100000   0.000000
CA     10.280000   5.444444
CO      9.157895   3.333333
CT     10.225806   3.083333
DC     10.734694   0.000000
DE      7.500000   3.888889
FL      9.363636  10.125000
GA     10.913043   4.875000
HI      8.340000   0.000000
IA      8.365854   0.000000
ID     10.750000   6.444444
IL      7.169811   9.600000
IN      9.435484   0.000000
KS      8.140351   5.307692
KY      7.000000   7.000000
LA      8.000000   6.750000
MA      8.648148   4.272727
MD      9.207547   4.882353
ME      7.530612   9.307692
MI      9.877193   3.375000
MN      8.869565   5.466667
MO      8.928571   0.000000
MS     10.392157   6.000000
MT      9.592593   8.357143
NC      9.052632   9.272727
ND     10.035714  11.833333
NE      9.321429   0.000000
NH      8.489362   7.111111
NJ      9.320000   8.833333
NM      5.821429  12.333333
NV      6.903846   6.428571
NY      7.000000   2.200000
OH     11.338235   2.400000
OK      9.615385   3.111111
OR      6.343284   5.181818
PA      8.027027   5.000000
RI      8.067797   0.000000
SC     10.717391   2.000000
SD     10.500000  10.000000
TN      6.416667  13.000000
TX      7.537037   3.166667
UT      8.580645   8.000000
VA      6.944444   8.400000
VT      6.723077   5.125000
WA      5.153846   2.357143
WI      8.704225   4.000000
WV      8.864583   7.400000
WY      7.000000   2.888889

In [93]:
#Total day minutes
result= df.pivot_table(index='State', columns='Churn', values='Total_day_minutes') 
print (result)

Churn       False       True
State
AK     179.516327  159.900000
AL     183.825000  205.675000
AR     175.477273  178.672727
AZ     169.700000  200.175000
CA     181.132000  190.322222
CO     172.515789  217.955556
CT     163.851613  233.466667
DC     169.622449  188.600000
DE     173.242308  182.333333
FL     177.338182  194.625000
GA     178.560870  222.200000
HI     172.348000  236.200000
IA     172.568293  246.566667
ID     177.485938  186.677778
IL     171.698113  193.660000
IN     195.816129  201.411111
KS     185.547368  217.900000
KY     170.688235  193.300000
LA     179.723404  162.550000
MA     170.946296  225.054545
MD     186.652830  230.200000
ME     182.769388  194.661538
MI     175.801754  197.662500
MN     177.937681  208.273333
MO     165.042857  214.214286
MS     172.786275  196.664286
MT     172.737037  178.907143
NC     182.389474  199.427273
ND     185.605357  203.516667
NE     172.608929  231.860000
NH     175.117021  188.877778
NJ     183.532000  231.483333
NM     169.783929  186.783333
NV     165.923077  215.435714
NY     170.202941  197.380000
OH     175.677941  234.930000
OK     174.803846  209.411111
OR     166.371642  236.390909
PA     187.508108  192.387500
RI     164.216949  199.550000
SC     152.100000  213.564286
SD     187.982692  200.787500
TN     172.329167  208.820000
TX     169.875926  216.438889
UT     180.277419  203.980000
VA     176.845833  182.980000
VT     178.420000  211.375000
WA     169.042308  214.771429
WI     175.636620  214.571429
WV     173.207292  181.090000
WY     172.536765  237.844444

In [94]:
#Total day calls
result= df.pivot_table(index='State', columns='Churn', values='Total_day_calls') 
print (result)

Churn       False       True
State
AK      95.591837   90.000000
AL      99.388889   96.500000
AR     101.909091  103.090909
AZ      99.516667  109.000000
CA     106.240000   99.666667
CO      96.228070   88.111111
CT      96.870968  106.500000
DC      99.387755  107.800000
DE     100.307692   89.000000
FL     101.781818   95.625000
GA     103.173913  102.375000
HI     102.380000  110.000000
IA     100.951220  131.666667
ID     106.140625  106.777778
IL     100.245283  117.000000
IN     105.145161  120.222222
KS     100.192982  104.692308
KY     100.490196   99.375000
LA     103.446809  104.250000
MA     102.685185  100.363636
MD      99.830189   97.882353
ME      98.979592  101.461538
MI      99.859649  106.000000
MN      98.913043  100.066667
MO     100.232143   97.571429
MS      97.509804  112.357143
MT      96.925926   88.642857
NC     101.035088  111.909091
ND      98.767857  113.000000
NE      97.285714   98.800000
NH      98.106383  103.444444
NJ      99.460000  101.888889
NM     102.250000  102.166667
NV     101.038462  102.857143
NY      99.132353   94.200000
OH      98.632353  106.400000
OK     101.269231   94.444444
OR      96.432836   91.454545
PA      99.000000   97.000000
RI     101.135593   93.500000
SC      99.934783  110.785714
SD      95.038462   93.375000
TN     101.375000  102.200000
TX     100.518519   98.388889
UT     100.419355   89.900000
VA     104.652778  115.600000
VT     100.538462   98.625000
WA     101.865385   98.714286
WI      96.704225   96.428571
WV     103.802083  103.600000
WY     102.455882  100.444444

In [95]:
#Total day charge
result= df.pivot_table(index='State', columns='Churn', values='Total_day_charge') 
print (result)

Churn      False      True
State
AK     30.518163  27.183333
AL     31.250278  34.962500
AR     29.831591  30.373636
AZ     28.849333  34.030000
CA     30.793200  32.353333
CO     29.328246  37.054444
CT     27.855484  39.688333
DC     28.836735  32.062000
DE     29.451923  30.998889
FL     30.148182  33.087500
GA     30.356087  37.775000
HI     29.298600  40.153333
IA     29.337805  41.916667
ID     30.172969  31.736667
IL     29.189623  32.924000
IN     33.289355  34.241111
KS     31.544035  37.042308
KY     29.018039  32.861250
LA     30.553830  27.632500
MA     29.060741  38.260000
MD     31.731509  39.135294
ME     31.071837  33.093846
MI     29.886140  33.603750
MN     30.249855  35.408000
MO     28.058393  36.418571
MS     29.374314  33.432857
MT     29.365556  30.415000
NC     31.006842  33.902727
ND     31.553929  34.598333
NE     29.343571  39.418000
NH     29.770426  32.108889
NJ     31.201200  39.351667
NM     28.863214  31.753333
NV     28.207308  36.625000
NY     28.935735  33.554000
OH     29.866176  39.939000
OK     29.716538  35.601111
OR     28.284179  40.187273
PA     31.877027  32.706250
RI     27.917797  33.923333
SC     25.857609  36.307143
SD     31.957308  34.135000
TN     29.296250  35.502000
TX     28.879630  36.795000
UT     30.647742  34.676000
VA     30.063889  31.108000
VT     30.332154  35.936250
WA     28.737500  36.512143
WI     29.858310  36.477143
WV     29.445937  30.786000
WY     29.331471  40.432222

In [96]:
#Total eve minutes
result= df.pivot_table(index='State', columns='Churn', values='Total _eve_minutes') 
print (result)

Churn       False       True
State
AK     185.481633  164.700000
AL     191.261111  233.275000
AR     194.122727  228.745455
AZ     186.448333  207.250000
CA     201.584000  191.711111
CO     209.254386  191.877778
CT     205.317742  196.133333
DC     197.689796  182.380000
DE     208.269231  208.122222
FL     208.436364  222.925000
GA     205.541304  196.087500
HI     188.204000  243.666667
IA     209.114634  169.300000
ID     194.717187  193.855556
IL     195.101887  214.780000
IN     196.683871  243.033333
KS     201.331579  207.692308
KY     196.131373  196.962500
LA     196.523404  213.050000
MA     217.277778  201.836364
MD     189.964151  215.070588
ME     197.993878  210.015385
MI     208.136842  208.300000
MN     196.144928  214.006667
MO     194.898214  242.085714
MS     199.698039  201.142857
MT     199.964815  207.550000
NC     194.643860  243.436364
ND     204.230357  240.866667
NE     201.323214  223.140000
NH     191.725532  231.755556
NJ     193.678000  211.100000
NM     208.883929  243.083333
NV     199.875000  214.207143
NY     198.411765  190.566667
OH     204.148529  222.030000
OK     192.694231  194.888889
OR     196.444776  232.263636
PA     185.348649  220.812500
RI     211.698305  204.550000
SC     203.097826  221.778571
SD     204.515385  191.075000
TN     212.662500  189.880000
TX     194.914815  214.405556
UT     193.201613  208.620000
VA     201.243056  247.040000
VT     202.275385  230.500000
WA     198.675000  222.885714
WI     196.861972  203.514286
WV     186.753125  204.350000
WY     205.897059  205.311111

In [97]:
#Total eve calls
result= df.pivot_table(index='State', columns='Churn', values='Total_eve_calls') 
print (result)

Churn       False       True
State
AK      96.387755   99.666667
AL      99.250000   91.375000
AR      94.840909  109.818182
AZ     101.933333  109.500000
CA     104.360000   99.555556
CO      96.649123  107.777778
CT      99.451613   97.416667
DC     103.224490   89.800000
DE      95.576923  107.666667
FL     109.127273  107.500000
GA     105.717391   93.375000
HI      98.940000   97.333333
IA      99.048780  106.333333
ID     100.453125   97.222222
IL      99.886792  110.600000
IN      97.693548   99.666667
KS     101.719298  100.692308
KY      98.843137   94.375000
LA      96.595745   97.000000
MA      99.166667   93.636364
MD      97.811321  100.941176
ME     103.816327  107.538462
MI     101.684211  103.062500
MN     101.072464  104.266667
MO     101.321429   98.857143
MS      99.215686  103.785714
MT      97.111111   99.071429
NC     104.000000  103.636364
ND     106.142857   99.166667
NE     102.500000  115.800000
NH      94.255319  103.888889
NJ     103.060000  104.500000
NM     104.232143   91.333333
NV      97.038462   93.357143
NY     100.794118   96.533333
OH     100.897059  103.300000
OK     103.769231  107.222222
OR      97.940299  101.909091
PA     102.054054   99.625000
RI      96.372881   81.166667
SC      98.956522  102.500000
SD      99.038462   96.000000
TN     105.250000   89.400000
TX     103.222222   97.944444
UT      96.951613  104.700000
VA      99.902778  100.600000
VT      97.892308   95.875000
WA      94.730769   99.500000
WI      99.154930  103.428571
WV      97.666667  101.800000
WY      99.764706   95.222222

In [98]:
#Total eve charge
result= df.pivot_table(index='State', columns='Churn', values='Total_eve_charge') 
print (result)

Churn      False      True
State
AK     15.766122  14.000000
AL     16.257361  19.828750
AR     16.500909  19.444545
AZ     15.848500  17.615000
CA     17.136000  16.295556
CO     17.786316  16.308889
CT     17.452419  16.672500
DC     16.804286  15.506000
DE     17.702885  17.692222
FL     17.717455  18.947500
GA     17.471304  16.667500
HI     15.997000  20.710000
IA     17.775122  14.390000
ID     16.551406  16.475556
IL     16.583585  18.256000
IN     16.718065  20.657778
KS     17.113158  17.653846
KY     16.671569  16.740000
LA     16.705106  18.110000
MA     18.469259  17.156364
MD     16.147170  18.281176
ME     16.829796  17.851538
MI     17.691754  17.705000
MN     16.672464  18.191333
MO     16.566607  20.577143
MS     16.974706  17.097857
MT     16.997593  17.641429
NC     16.545614  20.691818
ND     17.359821  20.473333
NE     17.111964  18.966000
NH     16.296809  19.698889
NJ     16.462600  17.944444
NM     17.755357  20.661667
NV     16.989615  18.207143
NY     16.865000  16.198000
OH     17.353088  18.872000
OK     16.379808  16.567778
OR     16.698507  19.740909
PA     15.754324  18.768750
RI     17.994576  17.386667
SC     17.263043  18.850000
SD     17.383462  16.241250
TN     18.076458  16.140000
TX     16.567593  18.225556
UT     16.422419  17.734000
VA     17.106389  21.000000
VT     17.194154  19.592500
WA     16.887692  18.945714
WI     16.733803  17.298571
WV     15.873437  17.371000
WY     17.501176  17.451111

In [99]:
#Total night minutes
result= df.pivot_table(index='State', columns='Churn', values='Total_night_minutes') 
print (result)

Churn       False       True
State
AK     194.153061  162.500000
AL     188.145833  179.537500
AR     208.050000  195.072727
AZ     191.803333  227.025000
CA     191.240000  218.700000
CO     186.992982  208.300000
CT     206.343548  204.208333
DC     202.414286  244.900000
DE     203.355769  207.044444
FL     196.529091  193.525000
GA     194.691304  188.312500
HI     203.116000  213.666667
IA     187.856098  241.166667
ID     203.471875  196.366667
IL     198.326415  189.960000
IN     209.645161  214.355556
KS     204.577193  201.307692
KY     195.054902  219.400000
LA     202.180851  192.175000
MA     205.885185  194.790909
MD     199.426415  196.082353
ME     195.934694  209.761538
MI     192.598246  192.868750
MN     211.749275  200.166667
MO     205.869643  235.357143
MS     195.231373  222.000000
MT     197.111111  197.571429
NC     197.082456  197.463636
ND     196.244643  232.950000
NE     203.957143  234.100000
NH     211.580851  193.122222
NJ     203.734000  213.744444
NM     202.907143  174.866667
NV     210.982692  199.964286
NY     205.841176  191.606667
OH     203.520588  211.090000
OK     198.269231  189.311111
OR     196.961194  217.981818
PA     193.056757  208.850000
RI     204.020339  204.366667
SC     190.108696  211.657143
SD     200.938462  203.725000
TN     210.593750  208.820000
TX     188.542593  215.527778
UT     186.135484  217.700000
VA     210.881944  242.940000
VT     205.255385  221.075000
WA     199.973077  200.314286
WI     202.842254  162.585714
WV     201.453125  197.240000
WY     196.136765  222.066667

In [100]:
#Total night calls
result= df.pivot_table(index='State', columns='Churn', values='Total_night_calls') 
print (result)

Churn       False       True
State
AK      97.551020   94.000000
AL      98.402778  100.500000
AR      96.340909  109.909091
AZ      99.833333  102.250000
CA     100.920000   94.444444
CO      98.298246   89.222222
CT     101.774194  104.916667
DC      98.163265   92.800000
DE     102.442308   94.111111
FL     100.109091  101.875000
GA     104.630435  110.000000
HI      98.820000  104.666667
IA     100.707317   92.333333
ID      99.546875  106.666667
IL     100.301887   87.800000
IN     102.806452   95.888889
KS     100.508772   92.538462
KY      99.823529  113.625000
LA      99.872340   96.250000
MA      94.592593  106.454545
MD      98.471698   87.294118
ME      98.938776   99.076923
MI     102.684211  102.437500
MN     103.739130   94.733333
MO     100.785714  105.142857
MS     100.235294  103.285714
MT     101.537037  105.642857
NC      99.631579  105.000000
ND     102.071429  104.166667
NE     100.892857  110.000000
NH      95.297872  103.888889
NJ     100.300000   99.722222
NM      99.571429  113.000000
NV     101.250000  101.785714
NY      98.308824  104.400000
OH     102.661765  107.300000
OK     101.365385   98.777778
OR     104.791045   89.818182
PA      99.675676   95.375000
RI     100.322034  100.500000
SC     100.434783   99.357143
SD      94.326923   92.000000
TN      94.937500   87.800000
TX     101.574074   99.444444
UT     100.806452   99.500000
VA      95.222222   90.600000
VT     101.107692   98.000000
WA     100.884615  110.428571
WI      99.873239  106.428571
WV     100.885417   97.500000
WY     101.441176  106.444444

In [101]:
#Total night charge
result= df.pivot_table(index='State', columns='Churn', values='Total_night_charge') 
print (result)

Churn     False      True
State
AK     8.736735   7.316667
AL     8.466667   8.078750
AR     9.362500   8.779091
AZ     8.631500  10.217500
CA     8.605600   9.842222
CO     8.415263   9.374444
CT     9.286129   9.189167
DC     9.108571  11.022000
DE     9.151154   9.316667
FL     8.843818   8.707500
GA     8.761087   8.473750
HI     9.140000   9.613333
IA     8.454390  10.853333
ID     9.156406   8.836667
IL     8.924717   8.548000
IN     9.434032   9.645556
KS     9.206316   9.058462
KY     8.777255   9.873750
LA     9.098085   8.647500
MA     9.265556   8.765455
MD     8.973774   8.822941
ME     8.817143   9.439231
MI     8.665965   8.680625
MN     9.528551   9.008000
MO     9.263929  10.591429
MS     8.784902   9.990000
MT     8.870185   8.889286
NC     8.868596   8.886364
ND     8.831429  10.481667
NE     9.177857  10.536000
NH     9.521277   8.690000
NJ     9.167800   9.618889
NM     9.130536   7.868333
NV     9.494038   8.997857
NY     9.263529   8.622667
OH     9.158235   9.499000
OK     8.921923   8.517778
OR     8.863582   9.809091
PA     8.688378   9.398750
RI     9.180847   9.198333
SC     8.555435   9.524286
SD     9.042692   9.168750
TN     9.477292   9.396000
TX     8.484259   9.698889
UT     8.375645   9.797000
VA     9.490139  10.932000
VT     9.236308   9.948750
WA     8.998846   9.015000
WI     9.128310   7.314286
WV     9.065625   8.876000
WY     8.826029   9.994444

In [102]:
#Total intl minutes
result= df.pivot_table(index='State', columns='Churn', values='Total_intl_minutes') 
print (result)

Churn      False      True
State
AK      9.997959  10.366667
AL     10.100000  12.025000
AR     10.365909  10.400000
AZ     10.670000  10.050000
CA      9.348000  11.311111
CO      9.947368   9.388889
CT      9.858065  11.041667
DC     10.597959  10.680000
DE     10.313462  10.122222
FL      9.901818  11.050000
GA     10.113043  11.212500
HI     10.030000  10.500000
IA      9.751220   8.600000
ID     10.342187  11.633333
IL     10.137736  12.420000
IN     10.004839   9.944444
KS     10.664912  11.638462
KY     10.652941  10.662500
LA      9.248936  10.300000
MA      9.716667  10.618182
MD     10.741509  11.400000
ME      9.844898  10.553846
MI     10.254386  11.750000
MN     10.259420  11.306667
MO     10.219643   9.242857
MS     10.815686  10.207143
MT     10.548148  10.892857
NC      9.675439  11.427273
ND      9.687500   9.366667
NE     10.339286  11.680000
NH     10.170213   9.866667
NJ     10.814000  10.794444
NM     10.158929  12.050000
NV     10.161538   9.578571
NY      9.660294  11.460000
OH     10.308824  10.220000
OK     10.594231   9.755556
OR     10.486567   9.227273
PA     10.424324  10.800000
RI      9.762712  11.216667
SC      9.597826  10.950000
SD     10.251923   8.837500
TN     10.166667  11.400000
TX     10.407407  11.011111
UT     10.159677  10.680000
VA     10.525000  11.780000
VT     10.160000  10.087500
WA      9.517308  10.800000
WI      9.840845   8.771429
WV     10.035417  10.380000
WY     10.313235  11.000000

In [103]:
#Total intl calls
result= df.pivot_table(index='State', columns='Churn', values='Total_intl_calls') 
print (result)

Churn     False     True
State
AK     4.979592  2.000000
AL     4.611111  5.500000
AR     4.727273  4.545455
AZ     4.883333  4.500000
CA     4.520000  4.222222
CO     4.035088  4.555556
CT     4.177419  3.750000
DC     3.877551  4.200000
DE     4.403846  3.666667
FL     4.018182  3.750000
GA     4.239130  3.000000
HI     4.600000  5.000000
IA     4.780488  4.000000
ID     4.562500  4.555556
IL     4.339623  4.400000
IN     4.290323  4.222222
KS     4.684211  3.692308
KY     4.588235  2.625000
LA     4.787234  3.000000
MA     4.370370  4.818182
MD     4.698113  3.588235
ME     4.734694  4.076923
MI     4.561404  4.500000
MN     4.565217  3.266667
MO     5.017857  3.571429
MS     4.490196  4.642857
MT     4.592593  4.357143
NC     4.315789  3.090909
ND     4.750000  6.500000
NE     4.250000  3.800000
NH     4.872340  3.888889
NJ     4.820000  4.333333
NM     5.017857  3.166667
NV     4.596154  3.357143
NY     4.661765  4.533333
OH     4.294118  4.900000
OK     4.461538  6.777778
OR     4.432836  3.727273
PA     4.135135  2.625000
RI     4.728814  3.833333
SC     4.152174  4.285714
SD     4.519231  4.250000
TN     4.500000  2.800000
TX     4.592593  4.722222
UT     4.612903  4.700000
VA     4.722222  5.000000
VT     4.323077  6.875000
WA     4.615385  3.857143
WI     4.239437  3.000000
WV     4.427083  4.300000
WY     5.029412  4.555556

In [104]:
#Total intl charge
result= df.pivot_table(index='State', columns='Churn', values='Total_intl_charge') 
print (result)

Churn     False     True
State
AK     2.699796  2.796667
AL     2.727083  3.246250
AR     2.799091  2.807273
AZ     2.881000  2.715000
CA     2.525600  3.054444
CO     2.686140  2.536667
CT     2.661452  2.981667
DC     2.862653  2.884000
DE     2.785962  2.734444
FL     2.673818  2.983750
GA     2.731304  3.027500
HI     2.708600  2.836667
IA     2.633659  2.323333
ID     2.792500  3.142222
IL     2.738113  3.356000
IN     2.701613  2.684444
KS     2.880000  3.142308
KY     2.876275  2.880000
LA     2.498085  2.780000
MA     2.623704  2.868182
MD     2.900566  3.077647
ME     2.659388  2.850000
MI     2.768947  3.172500
MN     2.770725  3.052667
MO     2.759643  2.497143
MS     2.920784  2.757143
MT     2.848148  2.942857
NC     2.613158  3.084545
ND     2.616429  2.531667
NE     2.792500  3.154000
NH     2.747021  2.663333
NJ     2.920400  2.916111
NM     2.744107  3.255000
NV     2.744038  2.585000
NY     2.608235  3.094667
OH     2.783971  2.761000
OK     2.861923  2.635556
OR     2.832537  2.491818
PA     2.814865  2.915000
RI     2.635932  3.028333
SC     2.592174  2.957143
SD     2.767885  2.387500
TN     2.745208  3.078000
TX     2.810556  2.973889
UT     2.743226  2.884000
VA     2.842222  3.182000
VT     2.743231  2.726250
WA     2.570385  2.916429
WI     2.657183  2.370000
WV     2.710104  2.802000
WY     2.785147  2.970000

In [105]:
#Customer service calls
result=df.pivot_table(index='State',columns='Churn',values='Customer_service_calls') 
print (result)

Churn     False     True
State
AK     1.448980  3.333333
AL     1.402778  3.000000
AR     1.522727  3.818182
AZ     1.550000  2.250000
CA     1.360000  1.777778
CO     1.666667  2.555556
CT     1.532258  1.416667
DC     1.306122  1.800000
DE     1.653846  1.444444
FL     1.490909  2.125000
GA     1.869565  2.250000
HI     1.460000  3.000000
IA     1.487805  3.000000
ID     1.484375  3.000000
IL     1.132075  1.200000
IN     1.483871  3.111111
KS     1.315789  1.692308
KY     1.509804  3.000000
LA     1.510638  2.250000
MA     1.185185  1.363636
MD     1.528302  2.235294
ME     1.673469  2.000000
MI     1.403509  2.437500
MN     1.289855  2.733333
MO     1.410714  2.714286
MS     1.529412  2.285714
MT     1.388889  2.571429
NC     1.421053  2.272727
ND     1.446429  1.500000
NE     1.482143  1.200000
NH     1.234043  3.000000
NJ     1.500000  2.166667
NM     1.500000  2.500000
NV     1.442308  2.142857
NY     1.500000  2.666667
OH     1.411765  1.000000
OK     1.807692  1.666667
OR     1.626866  2.363636
PA     1.135135  1.875000
RI     1.355932  2.000000
SC     1.434783  2.071429
SD     1.384615  1.500000
TN     1.145833  3.000000
TX     1.592593  1.666667
UT     1.177419  2.600000
VA     1.597222  1.600000
VT     1.600000  2.875000
WA     1.384615  2.071429
WI     1.380282  1.857143
WV     1.364583  2.800000
WY     1.382353  1.888889

In [106]:
#Sort Pandas DataFrame in an ascending order
df.sort_values(by=['Area_code','Number_vmail_messages'], inplace=True)
df.head(5)

   State  Account_length  ...  Customer_service_calls  Churn
3     OH              84  ...                       2  False
10    IA             168  ...                       1  False
18    CO              77  ...                       5   True
23    MT              54  ...                       3  False
27    LA             172  ...                       3  False

[5 rows x 20 columns]

In [107]:
#Sort Pandas DataFrame in an descending order
df.sort_values(by=['Area_code','Number_vmail_messages'], inplace=True, ascending=False)
df.head(5)

     State  Account_length  ...  Customer_service_calls  Churn
2188    WV             137  ...                       2  False
2996    AR              63  ...                       0  False
2716    MO              64  ...                       0  False
60      MN             162  ...                       0  False
480     OH              75  ...                       0  False

[5 rows x 20 columns]

In [108]:
# checking for missing values
df.isnull().sum()

State                     0
Account_length            0
Area_code                 0
International_plan        0
Voice_mail_plan           0
Number_vmail_messages     0
Total_day_minutes         0
Total_day_calls           0
Total_day_charge          0
Total _eve_minutes        0
Total_eve_calls           0
Total_eve_charge          0
Total_night_minutes       0
Total_night_calls         0
Total_night_charge        0
Total_intl_minutes        0
Total_intl_calls          0
Total_intl_charge         0
Customer_service_calls    0
Churn                     0
dtype: int64

In [109]:
def preprocess_image(df):
    for label, content in df.items():
        if pd.api.types.is_numeric_dtype(content):
            if pd.isnull(content).sum():
                df[label] = content.fillna(content.median())
        if not pd.api.types.is_numeric_dtype(content):
            df[label] = pd.Categorical(content).codes+1
    return df

In [110]:
df = preprocess_image(df=df)
df.head()

      State  Account_length  ...  Customer_service_calls  Churn
2188     50             137  ...                       2  False
2996      3              63  ...                       0  False
2716     25              64  ...                       0  False
60       24             162  ...                       0  False
480      36              75  ...                       0  False

[5 rows x 20 columns]

In [111]:
# checking the distribution of Stroke Variable
df['Churn'].value_counts()

# 1 ----> may get stroke
# 0 ----> may not get stroke

False    2850
True      483
Name: Churn, dtype: int64

In [112]:
X = df.drop(columns='Churn', axis=1)
Y = df['Churn']

In [113]:
print(X)

      State  Account_length  ...  Total_intl_charge  Customer_service_calls
2188     50             137  ...               3.27                       2
2996      3              63  ...               2.21                       0
2716     25              64  ...               1.22                       0
60       24             162  ...               3.27                       0
480      36              75  ...               2.48                       0
...     ...             ...  ...                ...                     ...
3304     41              88  ...               2.30                       1
3305     28             110  ...               4.51                       2
3309     20              87  ...               1.13                       1
3316     51             148  ...               3.62                       2
3326     16             114  ...               3.16                       1

[3333 rows x 19 columns]

In [114]:
print(Y)

2188    False
2996    False
2716    False
60      False
480     False
        ...
3304    False
3305    False
3309    False
3316    False
3326    False
Name: Churn, Length: 3333, dtype: bool

In [115]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [116]:
print(X.shape, X_train.shape, X_test.shape)

(3333, 19) (2666, 19) (667, 19)

In [117]:
#loading the SVM model
from sklearn import svm
from sklearn.metrics import accuracy_score

support = svm.LinearSVC(random_state=20)
support.fit(X_train, Y_train)
predicted= support.predict(X_test)
score=accuracy_score(Y_test,predicted)
print("Your Model Accuracy is", score)

Your Model Accuracy is 0.15892053973013492

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [118]:
# loading the Random Forest Regression model
# loading the Random Forest Regression model
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

classifier = RandomForestClassifier(n_estimators = 50)
classifier.fit(X_train, Y_train)
y_pred = classifier.predict(X_test)
result2 = accuracy_score(Y_test,y_pred)
print("Accuracy:",result2)

Accuracy: 0.9250374812593704

In [119]:
#loading the Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, Y_train)
X_train_prediction = decision_tree.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  1.0