<a href="https://colab.research.google.com/github/fxlzaa/Main2/blob/main/KaggleStroke.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [442]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
#Import Library Pandas
df = pd.read_csv("healthcare-dataset-stroke-data.csv") 
#Reading the dataset in a dataframe using Pandas
df.head(5) #Print first five observations

      id  gender   age  ...   bmi   smoking_status stroke
0   9046    Male  67.0  ...  36.6  formerly smoked      1
1  51676  Female  61.0  ...   NaN     never smoked      1
2  31112    Male  80.0  ...  32.5     never smoked      1
3  60182  Female  49.0  ...  34.4           smokes      1
4   1665  Female  79.0  ...  24.0     never smoked      1

[5 rows x 12 columns]

In [443]:
df.dtypes

id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [444]:
df['age'] = df.age.astype(int)
df['ever_married'] = df.ever_married.astype(bool)

In [445]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   int64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   bool
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: bool(1), float64(2), int64(5), object(4)
memory usage: 444.3+ KB

In [446]:
df.describe()

                 id          age  ...          bmi       stroke
count   5110.000000  5110.000000  ...  4909.000000  5110.000000
mean   36517.829354    43.215264  ...    28.893237     0.048728
std    21161.721625    22.633866  ...     7.854067     0.215320
min       67.000000     0.000000  ...    10.300000     0.000000
25%    17741.250000    25.000000  ...    23.500000     0.000000
50%    36932.000000    45.000000  ...    28.100000     0.000000
75%    54682.000000    61.000000  ...    33.100000     0.000000
max    72940.000000    82.000000  ...    97.600000     1.000000

[8 rows x 7 columns]

In [447]:
df.shape

(5110, 12)

In [448]:
df["stroke"].value_counts()

0    4861
1     249
Name: stroke, dtype: int64

In [449]:
df.columns

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [450]:
#gender
result= df.pivot(index='id', columns=['stroke'], values='gender')
print (result)

stroke       0       1
id
67      Female     NaN
77      Female     NaN
84        Male     NaN
91      Female     NaN
99      Female     NaN
...        ...     ...
72911   Female     NaN
72914   Female     NaN
72915   Female     NaN
72918      NaN  Female
72940   Female     NaN

[5110 rows x 2 columns]

In [451]:
#age
result= df.pivot(index='id', columns=['stroke'], values='age')
print (result)

stroke     0     1
id
67      17.0   NaN
77      13.0   NaN
84      55.0   NaN
91      42.0   NaN
99      31.0   NaN
...      ...   ...
72911   57.0   NaN
72914   19.0   NaN
72915   45.0   NaN
72918    NaN  53.0
72940    2.0   NaN

[5110 rows x 2 columns]

In [452]:
#hypertension
result= df.pivot(index='id', columns=['stroke'], values='hypertension')
print (result)

stroke    0    1
id
67      0.0  NaN
77      0.0  NaN
84      0.0  NaN
91      0.0  NaN
99      0.0  NaN
...     ...  ...
72911   1.0  NaN
72914   0.0  NaN
72915   0.0  NaN
72918   NaN  1.0
72940   0.0  NaN

[5110 rows x 2 columns]

In [453]:
#heart_disease
result= df.pivot(index='id', columns=['stroke'], values='heart_disease')
print (result)

stroke    0    1
id
67      0.0  NaN
77      0.0  NaN
84      0.0  NaN
91      0.0  NaN
99      0.0  NaN
...     ...  ...
72911   0.0  NaN
72914   0.0  NaN
72915   0.0  NaN
72918   NaN  0.0
72940   0.0  NaN

[5110 rows x 2 columns]

In [454]:
#avg_glucose_level
result= df.pivot(index='id', columns=['stroke'], values='avg_glucose_level')
print (result)

stroke       0      1
id
67       92.97    NaN
77       85.81    NaN
84       89.17    NaN
91       98.53    NaN
99      108.89    NaN
...        ...    ...
72911   129.54    NaN
72914    90.57    NaN
72915   172.33    NaN
72918      NaN  62.55
72940   102.92    NaN

[5110 rows x 2 columns]

In [455]:
#bmi
result= df.pivot(index='id', columns=['stroke'], values='bmi')
print (result)

stroke     0     1
id
67       NaN   NaN
77      18.6   NaN
84      31.5   NaN
91      18.5   NaN
99      52.3   NaN
...      ...   ...
72911   60.9   NaN
72914   24.2   NaN
72915   45.3   NaN
72918    NaN  30.3
72940   17.6   NaN

[5110 rows x 2 columns]

In [456]:
#smoking_status
result= df.pivot(index='id', columns=['stroke'], values='smoking_status')
print (result)

stroke                0        1
id
67      formerly smoked      NaN
77              Unknown      NaN
84         never smoked      NaN
91         never smoked      NaN
99              Unknown      NaN
...                 ...      ...
72911            smokes      NaN
72914           Unknown      NaN
72915   formerly smoked      NaN
72918               NaN  Unknown
72940           Unknown      NaN

[5110 rows x 2 columns]

In [457]:
# checking for missing values
df.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [458]:
def preprocess_image(df):
    for label, content in df.items():
        if pd.api.types.is_numeric_dtype(content):
            if pd.isnull(content).sum():
                df[label] = content.fillna(content.median())
        if not pd.api.types.is_numeric_dtype(content):
            df[label] = pd.Categorical(content).codes+1
    return df

In [459]:
df = preprocess_image(df=df)
df.head()

      id  gender  age  ...   bmi  smoking_status  stroke
0   9046       2   67  ...  36.6               2       1
1  51676       1   61  ...  28.1               3       1
2  31112       2   80  ...  32.5               3       1
3  60182       1   49  ...  34.4               4       1
4   1665       1   79  ...  24.0               3       1

[5 rows x 12 columns]

In [460]:
# statistical measures about the data
df.describe()

                 id       gender  ...  smoking_status       stroke
count   5110.000000  5110.000000  ...     5110.000000  5110.000000
mean   36517.829354     1.414286  ...        2.376908     0.048728
std    21161.721625     0.493044  ...        1.071534     0.215320
min       67.000000     1.000000  ...        1.000000     0.000000
25%    17741.250000     1.000000  ...        1.000000     0.000000
50%    36932.000000     1.000000  ...        3.000000     0.000000
75%    54682.000000     2.000000  ...        3.000000     0.000000
max    72940.000000     3.000000  ...        4.000000     1.000000

[8 rows x 11 columns]

In [461]:
# checking the distribution of Stroke Variable
df['stroke'].value_counts()

# 1 ----> may get stroke
# 0 ----> may not get stroke

0    4861
1     249
Name: stroke, dtype: int64

In [462]:
X = df.drop(columns='stroke', axis=1)
Y = df['stroke']

In [463]:
print(X)

         id  gender  age  ...  avg_glucose_level   bmi  smoking_status
0      9046       2   67  ...             228.69  36.6               2
1     51676       1   61  ...             202.21  28.1               3
2     31112       2   80  ...             105.92  32.5               3
3     60182       1   49  ...             171.23  34.4               4
4      1665       1   79  ...             174.12  24.0               3
...     ...     ...  ...  ...                ...   ...             ...
5105  18234       1   80  ...              83.75  28.1               3
5106  44873       1   81  ...             125.20  40.0               3
5107  19723       1   35  ...              82.99  30.6               3
5108  37544       2   51  ...             166.29  25.6               2
5109  44679       1   44  ...              85.28  26.2               1

[5110 rows x 11 columns]

In [464]:
print(Y)

0       1
1       1
2       1
3       1
4       1
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 5110, dtype: int64

In [465]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [471]:
# loading the Random Forest Regression model
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

classifier = RandomForestClassifier(n_estimators = 50)
classifier.fit(X_train, Y_train)
y_pred = classifier.predict(X_test)
result2 = accuracy_score(Y_test,y_pred)
print("Accuracy:",result2)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [477]:
#loading the SVM model
from sklearn import svm
from sklearn.metrics import accuracy_score

support = svm.LinearSVC(random_state=20)
support.fit(X_train, Y_train)
predicted= support.predict(X_test)
score=accuracy_score(Y_test,predicted)
print("Your Model Accuracy is", score)

Your Model Accuracy is 0.9510763209393346

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [466]:
#split the dataset
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [467]:
print(X.shape, X_train.shape, X_test.shape)

(5110, 11) (4088, 11) (1022, 11)

In [476]:
#loading the Logistic Regression Model
from sklearn.linear_model import LogisticRegression

lg_regression = LogisticRegression()
lg_regression.fit(X_train, Y_train)
X_train_prediction = lg_regression.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9503424657534246